version: "3.8"

services:
  backend:
    image: kimyoonsu2024/team-lite-backend:latest
    build:
      context: .
      dockerfile: apps/server/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./apps/server/.env
    restart: always

  frontend:
    image: kimyoonsu2024/team-lite-frontend:latest
    build:
      context: .
      dockerfile: apps/client/Dockerfile
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
