@import "tailwindcss";

@theme {
  /* 1. 폰트 설정 (Pretendard) */
  --font-sans: "Pretendard", "Inter", sans-serif;

  /* 2. 컬러 팔레트 설정 */
  /* Brand */
  --color-brand-primary: #3730a3;
  --color-brand-sub1: #0f766e;
  --color-brand-sub2: #aeff00;
  --color-brand-sub3: #f4c430;

  /* System */
  --color-system-success: #00a63e;
  --color-system-error: #e7000b;
  --color-system-warning: #ffb900;

  /* Background */
  --color-bg-1: E4E4E7;
  --color-bg-2: #f4f4f5;
  --color-bg-3: #fafafa;

  /* Line */

  --color-line-1: #18181b;
  --color-line-2: #9f9fa9;
  --color-line-3: #d4d4d8;
  --color-line-4: #e4e4e7;
  --color-line-5: #f4f4f5;

  /* Text */
  --color-text-1: #18181b;
  --color-text-2: #3f3f47;
  --color-text-3: #52525c;
  --color-text-4: #71717b;
  --color-text-5: #9f9f49;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@utility typo-semibold {
  font-weight: 600;
}

@utility typo-medium {
  font-weight: 500;
}

@utility typo-regular {
  font-weight: 400;
}

@utility typo-light {
  font-weight: 300;
}

/* 3. 커스텀 유틸리티 (Typography) */
/* v4에서는 @utility를 사용하여 복합 스타일을 만듭니다 */

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* overflow-y: scroll; */
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility typo-xs {
  font-size: 12px; /* 12px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-sm {
  font-size: 14px; /* 14px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-base {
  font-size: 16px; /* 16px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-lg {
  font-size: 18px; /* 18px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-xl {
  font-size: 20px; /* 20px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-2xl {
  font-size: 24px; /* 24px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-3xl {
  font-size: 28px; /* 28px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-4xl {
  font-size: 32px; /* 32px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-5xl {
  font-size: 36px; /* 36px */
  letter-spacing: 0em;
  line-height: 140%;
  font-weight: 600;
}

@utility typo-6xl {
  font-size: 40px; /* 40px */
  letter-spacing: -0.025em; /* -2.5% */
  line-height: 140%;
  font-weight: 600;
}

@utility typo-7xl {
  font-size: 48px; /* 48px */
  letter-spacing: -0.025em; /* -2.5% */
  line-height: 140%;
  font-weight: 600;
}

@utility typo-8xl {
  font-size: 60px; /* 60px */
  letter-spacing: -0.025em; /* -2.5% */
  line-height: 140%;
  font-weight: 600;
}

@utility typo-9xl {
  font-size: 100px; /* 100px */
  letter-spacing: -0.025em; /* -2.5% */
  line-height: 140%;
  font-weight: 600;
}

button {
  cursor: pointer;
}
