name: CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: 코드 체크아웃
        uses: actions/checkout@v4

      - name: 도커 로그인
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Docker Buildx 셋업(캐시 등 최적화)
        uses: docker/setup-buildx-action@v3

      - name: 프론트엔드 빌드 후 푸시
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/client/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/team-lite-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: 백엔드 빌드 & 푸시
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/server/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/team-lite-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: EC2 접속 및 배포
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/ubuntu/team-lite
            git pull origin main
            mkdir -p ./apps/server
            rm -f ./apps/server/.env
            echo "${{ secrets.PROD_ENV_FILE }}" > ./apps/server/.env
            docker compose pull
            docker compose up -d
            docker system prune -f
